;----------------------------------------------------------------------------------
; *************************
; MikuMikuMikuMiku v1
; *************************
;  
; MikuMikuMikuMiku is a challenging but well made map. However, there are some sound issues.
; Some of them cause an infinite loop such as standing on the vent trap. So I will try and 
; fix most of them.
; Changelog:
; 	- Changed the outputs of all entities that played sounds using RunScriptCode 
;     with a different algorithm. While adding ambient_generic to all of them would be "ideal",
;     the map sits around 830~ edicts plus 480 (which is a full sever)) so roughly around 738.
;     and I am not sure how expensive ambient_generic is in those terms
;     
;     For now, I'll just modify the Outputs to the following:
; 	  	1. Stop the existing Sound
;		2. Play it after a tiny bit delay
;		3. Fire the thing after a delay of roughly 90% of the sound's length
;	  
;    
;---------------------------------------------------------------------------------------------

;---------------------------------------------------------------------------------------------
; Func_TrackTrains (Trap 4)
;---------------------------------------------------------------------------------------------
modify:
{
	;Match the conveyor 
    match:
    {
	    "targetname" "miku_trap4_train1"
        "classname" "func_tracktrain"
    }
	;Delete all the original outputs.
    delete:
    {
        "OnUser3" "trap4_ambientgeneric,PlaySound,,0,-1"
    }
	;Create the new Outputs
    insert:
    {
		;Stop any existing sound 
        "OnUser3" "!self,RunScriptCode,self.StopSound(`Miku.SPMetro2`),0,-1"
		;Start playing the sound with a slight delay.
		"OnUser3" "!self,RunScriptCode,self.EmitSound(`Miku.SPMetro2`),0.01,-1"
		;The audio lasts around 4.5 seconds, so we want to loop it in a weird delay so that it's "seamless"
		;won't be as seamless without ambient_generic or the sound itself allows it.
		"OnUser3" "!self,FireUser3,,4,-1"
    }
}
modify:
{
	;Match the conveyor 
    match:
    {
	    "targetname" "miku_trap4_train2"
        "classname" "func_tracktrain"
    }
	;Delete all the original outputs.
    delete:
    {
        "OnUser3" "trap4_ambientgeneric,PlaySound,,0,-1"
    }
	;Create the new Outputs
    insert:
    {
		;Stop any existing sound 
        "OnUser3" "!self,RunScriptCode,self.StopSound(`Miku.SPMetro2`),0,-1"
		;Start playing the sound with a slight delay.
		"OnUser3" "!self,RunScriptCode,self.EmitSound(`Miku.SPMetro2`),0.01,-1"
		;The audio lasts around 4.5 seconds, so we want to loop it in a weird delay so that it's "seamless"
		;won't be as seamless without ambient_generic or the sound itself allows it.
		"OnUser3" "!self,FireUser3,,4,-1"
    }
}
modify:
{
	;Match the conveyor 
    match:
    {
	    "targetname" "miku_trap4_train3"
        "classname" "func_tracktrain"
    }
	;Delete all the original outputs.
    delete:
    {
        "OnUser3" "trap4_ambientgeneric,PlaySound,,0,-1"
    }
	;Create the new Outputs
    insert:
    {
		;Stop any existing sound 
        "OnUser3" "!self,RunScriptCode,self.StopSound(`Miku.SPMetro2`),0,-1"
		;Start playing the sound with a slight delay.
		"OnUser3" "!self,RunScriptCode,self.EmitSound(`Miku.SPMetro2`),0.01,-1"
		;The audio lasts around 4.5 seconds, so we want to loop it in a weird delay so that it's "seamless"
		;won't be as seamless without ambient_generic or the sound itself allows it.
		"OnUser3" "!self,FireUser3,,4,-1"
    }
}


;---------------------------------------------------------------------------------------------
; Solid
;---------------------------------------------------------------------------------------------
modify:
{
	;Match the conveyor 
    match:
    {
	    "targetname" "miku_solid"
        "classname" "func_brush"
    }
	;Delete all the original outputs.
    delete:
    {
        "OnUser3" "/.*/"
    }
	;Create the new Outputs
    insert:
    {
		;Stop any existing sound 
        "OnUser3" "!self,RunScriptCode,self.StopSound(`Miku.SPMetro2`),0,-1"
		;Start playing the sound with a slight delay.
		"OnUser3" "!self,RunScriptCode,self.EmitSound(`Miku.SPMetro2`),0.01,-1"
		;The audio lasts around 4.5 seconds, so we want to loop it in a weird delay so that it's "seamless"
		;won't be as seamless without ambient_generic or the sound itself allows it.
		"OnUser3" "!self,FireUser3,,4,-1"
    }
}

;---------------------------------------------------------------------------------------------
; Rotating Platforms
;---------------------------------------------------------------------------------------------
modify:
{
	;Match the conveyor 
    match:
    {
	    "targetname" "miku_platrot1_1"
        "classname" "func_door_rotating"
    }
	;Delete only the sound related stuff. There's an output that open the door.
    delete:
    {
        delete:
    {
        "OnUser3" "!self,FireUser3,,2,-1"
        "OnUser3" "!self,RunScriptCode,self.EmitSound(`Miku.LiqCast`),0,-1"
    }
	;Create the new Outputs
    insert:
    {
		;Stop any existing sound 
        "OnUser3" "!self,RunScriptCode,self.StopSound(`Miku.LiqCast`),0,-1"
		;Start playing the sound with a slight delay.
		"OnUser3" "!self,RunScriptCode,self.EmitSound(`Miku.LiqCast`),0.01,-1"
		;The audio lasts around 3.8 seconds, so we want to loop it in a weird delay so that it's "seamless"
		;won't be as seamless without ambient_generic or the sound itself allows it.
		"OnUser3" "!self,FireUser3,,3.6,-1"
    }
}

;---------------------------------------------------------------------------------------------
; Electricity
;---------------------------------------------------------------------------------------------
modify:
{
	;Match the conveyor 
    match:
    {
	    "targetname" "1notsolid"
        "classname" "func_brush"
    }
	;Delete only the sound related stuff. There's an output that open the door.
    delete:
    {
        delete:
    {
        "OnUser3" "/.*/"
    }
	;Create the new Outputs
    insert:
    {
		;Stop any existing sound 
        "OnUser3" "!self,RunScriptCode,self.StopSound(`Miku.Electricity`),0,-1"
		;Start playing the sound with a slight delay.
		"OnUser3" "!self,RunScriptCode,self.EmitSound(`Miku.Electricity`),0.01,-1"
		;The audio lasts around 3 seconds, so we want to loop it in a weird delay so that it's "seamless"
		;won't be as seamless without ambient_generic or the sound itself allows it.
		"OnUser3" "!self,FireUser3,,2.8,-1"
    }
}

;---------------------------------------------------------------------------------------------
; Fan Trap
;---------------------------------------------------------------------------------------------
modify:
{
	;Match the func_rotating
    match:
    {
	    "targetname" "miku_rot"
        "classname" "func_rotating"
    }
	;Delete all the original outputs.
    delete:
    {
        "OnUser3" "/.*/"
    }
	;Create the new Outputs
    insert:
    {
		;Stop any existing sound 
        "OnUser3" "!self,RunScriptCode,self.StopSound(`Miku.SteamRoller`),0,-1"
		;Start playing the sound with a slight delay.
		"OnUser3" "!self,RunScriptCode,self.EmitSound(`Miku.SteamRoller`),0.01,-1"
		;The audio lasts around 2 seconds, so we want to loop it in a weird delay so that it's "seamless"
		;won't be as seamless without ambient_generic or the sound itself allows it.
		"OnUser3" "!self,FireUser3,,1.80,-1"
    }
}
