;----------------------------------------------------------------------------------
; *************************
; MikuMikuMikuMiku v1
; *************************
;  
; Some of them cause an infinite loop such as standing on the vent trap. So I will try and 
; fix most of them.
; Changelog:
; 	- Changed the outputs of all entities that played sounds using RunScriptCode 
;     with a different algorithm. While adding ambient_generic to all of them would be "ideal",
;     the map sits around 830~ edicts plus 480 (which is a full sever)) so roughly around 738.
;     and I am not sure how expensive ambient_generic is in those terms.
;     
;     For now, I'll just modify the Outputs to do the following
; 	  	1. Stop the existing Sound
;		2. Play it after a tiny bit delay
;		3. Fire the thing after a delay of roughly 90% of the sound's length
;	  
;    
;---------------------------------------------------------------------------------------------

modify:
{
    match:
    {
        "classname" "func_tracktrain"
        "targetname" "miku_trap4_train1"
    }
    delete:
    {
        "OnUser3" "/.*/"
    }
    insert:
    {
        "OnUser3" "!self,RunScriptCode,self.StopSound(`Miku.LiqCast`); self.EmitSound(`Miku.LiqCast`),0,-1"
        "OnUser3" "!self,FireUser3,,2.00,-1"
    }
}

modify:
{
    match:
    {
        "classname" "func_tracktrain"
        "targetname" "miku_trap4_train2"
    }
    delete:
    {
        "OnUser1" "/.*RunScriptCode.*/"
    }
    insert:
    {
        "OnUser1" "!self,RunScriptCode,self.StopSound(`Miku.Calculate`); self.EmitSound(`Miku.Calculate`),0,-1"
    }
}


modify:
{
    match:
    {
	    "targetname" "miku_rot"
        "classname" "func_rotating"
    }
    delete:
    {
        "OnUser3" "/.*/"
    }
    insert:
    {
        "OnUser3" "!self,RunScriptCode,self.StopSound(`Miku.LiqCast`),0,-1"
		"OnUser3" "!self,RunScriptCode,self.EmitSound(`Miku.LiqCast`),0.01,-1"
		"OnUser3" "!self,FireUser3,,2,-1"
    }
}

modify:
{
    match:
    {
        "classname" "func_conveyor"
        "targetname" "miku_conveyor"
    }
    delete:
    {
        "OnUser3" "/.*/"
    }
    insert:
    {
        "OnUser3" "!self,RunScriptCode,self.StopSound(`Miku.SPMetro2`); self.EmitSound(`Miku.SPMetro2`),0,-1"
        "OnUser3" "!self,FireUser3,,1.00,-1"
    }
}
