;----------------------------------------------------------------------------------
; *************************
; Boss Changes
; *************************
; - Adjusted the catapults so that they're doable by a single player
;
;
;
; Maybe I do some other changes to make it harder.
; ----------------------------------------------------------------------------------
; ************* Catapults *************
; Changed the speed and jump direction of the first catapult found on Heffe's head
; This is so players have enough speed to make it to the second catapult. 
modify:
{
	match:
	{
		"targetname" "bosscata"
		"classname" "trigger_catapult"
	}
	replace:
    {
        "launchdirection" "-30 -10 0"
		"playerspeed" "1100"
		"physicsspeed" "1100"
    }
    delete:
    {
        "launchtarget" "/.*/"
    }
}

; Changed the speed and jump direction of the second catapult found on Heffe's head
modify:
{
	match:
	{
		"targetname" "bosscata2"
		"classname" "trigger_catapult"
	}
	replace:
    {
        "launchdirection" "-30 -10 0"
		"playerspeed" "1100"
		"physicsspeed" "1100"
    }
    delete:
    {
        "launchtarget" "/.*/"
    }
}

; Changed the speed and jump direction of the catapult on the left
modify:
{
	match:
	{
		"targetname" "teamcata"
		"classname" "trigger_catapult"
	}
	replace:
    {
		"playerspeed" "1100"
    }
}

; Change the speed and jump direction of the catapult on the right
modify:
{
	match:
	{
		"targetname" "teamcata2"
		"classname" "trigger_catapult"
	}
	replace:
    {
		"playerspeed" "1100"
    }
}
; ----------------------------------------------------------------------------------