;----------------------------------------------------------------------------------
; *************************
; Scooby Doo v5a
; *************************
;  
; Scooby Doo is a great map but has some stall/gamebreaking stuff. So this aims to fix them.
; Changelog:
; 	- Added a trigger_hurt to the area where you pick the potion near spawn. This was used to stall.
;	- Added a trigger_hurt in a specific area of the 2nd trap. There's a small gap between the shelf 
;     and the trap where players could get stuck and stall.
;   - Added a trigger_teleport to the monster rooms where the main one did not reach. Another stall option.
;   - Disabled the Redbeard Trigger when another minigame is picked. A specific sequence is made to 
;     cause the round to end early.
;
; TO DO:
;	- Nerf the speed of the garden trap
;---------------------------------------------------------------------------------------------
; Main Hall 
; - Copied the Foyer_Mot_Hurt brush, so it also covers the whole area. This is because players
;   can stall in the area where the potion is, and it is easy to do.
; - Changed the Output of motivator_path5 to also enable the new trigger_hurt.
;---------------------------------------------------------------------------------------------

;Adding the new trigger_hurt brush to the stall area.
;Thankfully, we can use the same targetname.
add:
{
	;Create the trigger hurt
    "classname" "trigger_hurt"
    "targetname" "foyer_mot_hurt"
    
	;Steal the model from the foyer_mot_hurt, so i can copy it's dimensions
    "model" "*9" 
    
    ;Coordinates cover the hallway and the room itself while not overlapping
    "origin" "-3264 -4384 -136" 
    
    ;Properties. Basically copying from the original.
    "damage" "100"
    "damagecap" "20"
    "damagetype" "0"
    "startdisabled" "1"
	"spawnflags" "1"
    "filtername" "Red Filter"
}

;---------------------------------------------------------------------------------------------
; Trap 2:
; 	- Made the second trap deal more damage and last longer so people can't tank through it.
;	  Living through it means you softlock the map because the motivator doesn't reach.
;
;	- Added a second trigger_hurt that's a weird spot between the trap and the shelf.
;     This is because it is possible to stay stuck somewhere in between the shelf
;	  and the trap. This also prevents the motivator from hitting you.
;
;---------------------------------------------------------------------------------------------
; Modifying the original so it does more damage 
modify:
{
	match:
	{
		"targetname" "HS_trigger_hurt"
		"classname" "trigger_hurt"
	}
	replace:
    {
		"damage" "200"
		"damagecap" "200"
    }
}

;adding the new anti-stall trigger
add:
{
    "classname" "trigger_hurt"
    "targetname" "shelf_antistall_triggerhurt"
    
    "origin" "-4083 -3415 -32" 
    
    "damage" "100"
    "damagecap" "20"
    "damagetype" "0"
    "startdisabled" "0"
    "spawnflags" "1"
    "filtername" "Red Filter"
}

;---------------------------------------------------------------------------------------------
; Trap 8:
; 	- I think this trap is a litle bit overpowered, so I'm nerfing it by
;	  tripling the delay. Feel free to delete if needed.
;---------------------------------------------------------------------------------------------
modify:
{
    match:
    {
        "targetname" "trap_8_button"
        "classname" "func_button"
    }
    delete:
    {
        "OnPressed" "tar_platform_breakable1,Break,,0.00,1"
        "OnPressed" "tar_platform_breakable2,Break,,0.40,1"
        "OnPressed" "tar_platform_breakable3,Break,,0.80,1"
        "OnPressed" "tar_platform_breakable4,Break,,1.20,1"
    }
    insert:
    {
		"OnPressed" "tar_platform_breakable1,Break,,0.00,1"
        "OnPressed" "tar_platform_breakable2,Break,,1.20,1"
        "OnPressed" "tar_platform_breakable3,Break,,2.40,1"
        "OnPressed" "tar_platform_breakable4,Break,,3.60,1"
    }
}

;---------------------------------------------------------------------------------------------
; The Monster Rooms at the end.
; 	- Each round, depending on the monster BLUE chose, a different room will be chosen.
;	  As far as I know, there isn't an issue with the rooms themselves. 
;	  HOWEVER, as soon as you teleport, there is a small hallway. It is possible to avoid the
;     teleport trigger if you stay there. So I'm gonna copy the already existing trigger_teleport
;     brush that covers all four rooms. It will overlap, but I don't think that's an issue.
;---------------------------------------------------------------------------------------------
;Add the trigger_teleport brush.
add:
{
    "classname" "trigger_teleport"
    "targetname" "teleport_winner_red2"
    
    "origin" "6331 10560 -734" 
    
    "spawnflags" "1"
    "filtername" "Red Filter"
    "target" "tp_exit_map_end_red_left_behind_finale"
    "startdisabled" "1"
}

;Each Monster Room has a button that finishes the round. Those buttons also enable the teleports
modify:
{
	match:
	{
		"targetname" "end_map_button_1"
		"classname" "func_button"
	}
	;Inserting a new output to enable our newly created trigger_teleport
	insert:
	{

        "OnDamaged" "teleport_winner_red2,Enable,,9,1"
    }
}
modify:
{
	match:
	{
		"targetname" "end_map_button_2"
		"classname" "func_button"
	}
	;Inserting a new output to enable our newly created trigger_teleport
	insert:
	{

        "OnDamaged" "teleport_winner_red2,Enable,,9,1"
    }
}
modify:
{
	match:
	{
		"targetname" "end_map_button_3"
		"classname" "func_button"
	}
	;Inserting a new output to enable our newly created trigger_teleport
	insert:
	{

        "OnDamaged" "teleport_winner_red2,Enable,,9,1"
    }
}
modify:
{
	match:
	{
		"targetname" "end_map_button_4"
		"classname" "func_button"
	}
	;Inserting a new output to enable our newly created trigger_teleport
	insert:
	{

        "OnDamaged" "teleport_winner_red2,Enable,,9,1"
    }
}

;We'll use logic_auto to spawn our triggers when map starts. 
add:
{
    "classname" "logic_auto"
    "spawnflags" "1"
    
	;Anti-Stall Trigger_Hurt
    "OnMapSpawn" "shelf_antistall_triggerhurt,AddOutput,solid 2,0,-1"
    "OnMapSpawn" "shelf_antistall_triggerhurt,AddOutput,maxs 28 97.5 96,0.01,-1"
    "OnMapSpawn" "shelf_antistall_triggerhurt,AddOutput,mins -28 -97.5 -96,0.01,-1"
	
	;Trigger_Teleport to those left behind in the final rooms.
    "OnMapSpawn" "teleport_winner_red2,AddOutput,solid 2,0,-1"
    "OnMapSpawn" "teleport_winner_red2,AddOutput,maxs 290 3200 157.5,0.01,-1"
    "OnMapSpawn" "teleport_winner_red2,AddOutput,mins -290 -3200 -157.5,0.01,-1"
}

;---------------------------------------------------------------------------------------------
; Blue Win Exploit During Minigame Selection
; - There's an exploit that involves ending the round when picking a minigame which results in
;   BLUE win for some reason.
;   The process is:
;		1. Press any of the minigame buttons
;		2. Pick the Redbeard Token up
;		3. During the delay between the Redbeard fight starts and the teleport, go to the minigame
;		   teleport, and blue will win.
;	Unsure why that happens, but it's annoying. 
;	So what I'm gonna do is add Outputs to kill the trigger when a button is pressed.
;	As well as disabling the buttons when the Redbeard token is picked up. 
; 	I think it makes to do that instead of disabling the teleports. Let's say the player
;   MUST commit and no do overs.
;---------------------------------------------------------------------------------------------
;Insert the outputs to disable the button.
modify:
{
	match:
	{
		"targetname" "rb_boss_trigger"
		"classname" "trigger_once"
	}
	;Apparently every other button, but button 3 is killed. 
	insert:
	{
		"OnStartTouch" "end_minigame_3_button,Kill,,0,1"
	}
}

;Zombie Island Button
modify:
{
	match:
	{
		"targetname" "end_minigame_3_button"
		"classname" "func_button"
	}
	;Kill the trigger.
	insert:
	{
        "OnDamaged" "rb_boss_trigger,Kill,,0,1"
		"OnDamaged" "red_beard_token,Kill,,0,1"
    }
}

;Hide and Seek Button
modify:
{
	match:
	{
		"targetname" "end_minigame_1_button"
		"classname" "func_button"
	}
	;Kill the trigger.
	insert:
	{

        "OnDamaged" "rb_boss_trigger,Kill,,0,1"
		"OnDamaged" "red_beard_token,Kill,,0,1"
    }
}

;Food Race Button
modify:
{
	match:
	{
		"targetname" "end_minigame_2_button"
		"classname" "func_button"
	}
	;Kill the trigger.
	insert:
	{

        "OnDamaged" "rb_boss_trigger,Kill,,0,1"
		"OnDamaged" "red_beard_token,Kill,,0,1"
    }
}
