;----------------------------------------------------------------------------------
; *************************
; Scooby Doo v5a
; *************************
;  
; Scooby Doo is a great map but has some stall/gamebreaking stuff. So this aims to fix them.
; Changelog:
; 	- Added a trigger_hurt to the area where you pick the potion near spawn. This was used to stall.
;	- Added a trigger_hurt in a specific area of the 2nd trap. There's a small gap between the shelf 
;     and the trap where players could get stuck and stall.
;   - Added a trigger_teleport to the monster rooms where the main one did not reach. Another stall option.
;   - Disabled the Redbeard Trigger when another minigame is picked. A specific sequence is made to 
;     cause the round to end early.
;---------------------------------------------------------------------------------------------
; Main Hall 
; - Copied the Foyer_Mot_Hurt brush, so it also covers the whole area. This is because players
;   can stall in the area where the potion is, and it is easy to do.
; - Changed the Output of motivator_path5 to also enable the new trigger_hurt.
;---------------------------------------------------------------------------------------------
;Adding the new trigger_hurt brush to the stall area.
add:
{
	;Create the trigger hurt
    "classname" "trigger_hurt"
    "targetname" "foyer_mot_hurt_2"
    
	;Steal the model from the foyer_mot_hurt, so i can copy it's dimensions
    "model" "*9" 
    
    ;Coordinates cover the hallway and the room itself while not overlapping
    "origin" "-3264 -4384 -136" 
    
    ;Properties. Basically copying from the original.
    "damage" "100"
    "damagecap" "20"
    "damagetype" "0"
    "startdisabled" "1"
	"spawnflags" "1"
    "filtername" "Red Filter"
}

;Modifying motivator_path5 to also enable the new trigger_hurt
modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "motivator_path5"
	}
	;Inserting a new output to enable the trigger_hurt. Same as the original.
	insert:
	{

        "OnPass" "foyer_mot_hurt_2,Enable,,10,1"
    }
}

;---------------------------------------------------------------------------------------------
; Trap 2:
; 	- Made the second trap deal more damage and last longer so people can't tank through it.
;	  Living through it means you softlock the map because the motivator doesn't reach.
;
;	- Added a second trigger_hurt that's a weird spot between the trap and the shelf.
;     This is because it is possible to stay stuck somewhere in between the shelf
;	  and the trap. This also prevents the motivator from hitting you.
;
;---------------------------------------------------------------------------------------------
; Modifying the original so it does more damage 
modify:
{
	match:
	{
		"targetname" "HS_trigger_hurt"
		"classname" "trigger_hurt"
	}
	replace:
    {
		"damage" "200"
		"damagecap" "200"
    }
}

;Add the trigger_hurt brush, so that it covers that gap.
add:
{
	;Create the trigger hurt
	"targetname" "HS_trigger_hurt2"
    "classname" "trigger_hurt"
    
	;Steal the model ID from the HS_trigger_hurt
    "model" "*59"
    
    ;Coordinates to cover that small gap and some of the shelf
	;It will overlap with the already existing one. IDK what else to do.
    "origin" "-4136.85 -3413 -64" 
    
    ;Properties
    "damage" "100"
    "damagecap" "100"
    "damagetype" "0"
	"spawnflags" "1"
    "filtername" "Red Filter"
	;I could add the output to the button press, so it enables this there.
	;Some crafty people will probably 
    "startdisabled" "0"
}


;---------------------------------------------------------------------------------------------
; The Monster Rooms at the end.
; 	- Each round, depending on the monster BLUE chose, a different room will be chosen.
;	  As far as I know, there isn't an issue with the rooms themselves. 
;	  HOWEVER, as soon as you teleport, there is a small hallway. It is possible to avoid the
;     teleport trigger if you stay there. So I'm gonna copy the already existing trigger_teleport
;     brush that covers all four rooms. It will overlap, but I don't think that's an issue.
;---------------------------------------------------------------------------------------------
;Add the trigger_teleport brush.
add:
{
	;Create the trigger teleport
	"targetname" "teleport_winner_red2"
    "classname" "trigger_teleport"
    
	;Steal the model ID from the teleport_winner_red
    "model" "*387"
    
    ;The original is a single brush that covers all four rooms. So I'm just gonna take it.
    "origin" "6339.52 11824 -640" 
 
	;Properties
	"spawnflags" "1"
	"filtername" "Red Filter"
	;Since they are not the "winner", they don't have the rights to pick a minigame.
	"target" "tp_exit_map_end_red_left_behind_finale"
	"startdisabled" "1"
}

;Each Monster Room has a button that finishes the round. Those buttons also enable the teleports
modify:
{
	match:
	{
		"targetname" "end_map_button_1"
		"classname" "func_button"
	}
	;Inserting a new output to enable our newly created trigger_teleport
	insert:
	{

        "OnDamaged" "teleport_winner_red2,Enable,,9,1"
    }
}
modify:
{
	match:
	{
		"targetname" "end_map_button_2"
		"classname" "func_button"
	}
	;Inserting a new output to enable our newly created trigger_teleport
	insert:
	{

        "OnDamaged" "teleport_winner_red2,Enable,,9,1"
    }
}
modify:
{
	match:
	{
		"targetname" "end_map_button_3"
		"classname" "func_button"
	}
	;Inserting a new output to enable our newly created trigger_teleport
	insert:
	{

        "OnDamaged" "teleport_winner_red2,Enable,,9,1"
    }
}
modify:
{
	match:
	{
		"targetname" "end_map_button_4"
		"classname" "func_button"
	}
	;Inserting a new output to enable our newly created trigger_teleport
	insert:
	{

        "OnDamaged" "teleport_winner_red2,Enable,,9,1"
    }
}

;---------------------------------------------------------------------------------------------
; Blue Win Exploit During Minigame Selection
; - There's an exploit that involves ending the round when picking a minigame which results in
;   BLUE win for some reason.
;   The process is:
;		1. Press any of the minigame buttons
;		2. Pick the Redbeard Token up
;		3. During the delay between the Redbeard fight starts and the teleport, go to the minigame
;		   teleport, and blue will win.
;	Unsure why that happens, but it's annoying. 
;	So what I'm gonna do is add Outputs to kill the trigger when a button is pressed.
;	I suppose you can also kill the token to avoid confusing people.
;---------------------------------------------------------------------------------------------

;Zombie Island Button
modify:
{
	match:
	{
		"targetname" "end_minigame_3_button"
		"classname" "func_button"
	}
	;Kill the trigger.
	insert:
	{

        "OnDamaged" "rb_boss_trigger,Kill,,0,1"
    }
}

;Hide and Seek Button
modify:
{
	match:
	{
		"targetname" "end_minigame_1_button"
		"classname" "func_button"
	}
	;Kill the trigger.
	insert:
	{

        "OnDamaged" "rb_boss_trigger,Kill,,0,1"
    }
}

;Food Race Button
modify:
{
	match:
	{
		"targetname" "end_minigame_2_button"
		"classname" "func_button"
	}
	;Kill the trigger.
	insert:
	{

        "OnDamaged" "rb_boss_trigger,Kill,,0,1"
    }
}